[2018-10-05 23:11] FluksikartonGOD opened #1 "Nuxt integration docs"
Please can you add some documentation for integrating with [Nuxt ](https://nuxtjs.org/)1 and 2. Thanks!

[2018-10-06 08:00] hmsk commented on #1
Hi, I'm not going to put about Nuxt to the doc specifically. Since it's nothing special even for Nuxt.

In`nuxt.config.js`, you can configure the loader like:

[code]

then, you can place markdown files into `/contents` and import :)

[2018-10-06 08:00] #1 closed

[2018-10-06 13:35] FluksikartonGOD commented on #1
Really thanks couldnt find it out myself anyway dont see a reason not to
add it

На сб, 6.10.2018 г., 11:00 Kengo Hamasaki <notifications@github.com> написа:

[2018-10-15 16:05] anthonygore opened #4 "Compiling Vue component fails when markdown includes invalid Vue syntax"
Hi! Thanks for making this brilliant tool, I'm currently using it in a Nuxt.js project.

I've found a bug, though. If my markdown includes code examples which are considered invalid Vue syntax an error is thrown.

For example:

[code]

This will crash the compiler.

The thing is, that code is not Vue syntax, it's Laravel Blade syntax, but I think the compiler is confused and thinks it is maybe???

[2018-10-15 20:41] hmsk commented on #4
Hi, I'm happy to hear that you're using this loader.
That's a good point, I didn't suppose such the case. Vue compiler is just compiling whole HTML from the markdown compilation. Let me have time to solve that with the decent way.

[2018-10-16 02:17] anthonygore commented on #4
Great, thank you.

For my use case, I don't think I'd ever need a component within a markdown code block, so maybe the solution is to skip any code in there.

[2018-10-16 06:35] hmsk commented on #4
@anthonygore Just published the fix for that as `v1.4.0-beta.1`. Hope you try on your end 🔍
https://www.npmjs.com/package/frontmatter-markdown-loader/v/1.4.0-beta.1

[2018-10-16 06:48] anthonygore commented on #4
Unfortunately, it doesn't. Here's the error I get:

[code]

I've attached the offending file. The line which causes the error is:

[code]

[2018-02-05-vue-laravel-crud.md.zip](https://github.com/hmsk/frontmatter-markdown-loader/files/2481732/2018-02-05-vue-laravel-crud.md.zip)

[2018-10-16 06:57] hmsk commented on #4
Sorry, that's my bad (and thank for providing your actual sample ❤️). I just published a quick fixes again as `1.4.0-beta.2`

[2018-10-16 07:02] anthonygore commented on #4
beta.2 works perfectly. Thanks!

[2018-10-16 07:03] hmsk commented on #4
Great. I will release as `1.4.0` later with some additional fixes.

[2018-10-18 00:58] hmsk commented on #4
Released: https://www.npmjs.com/package/frontmatter-markdown-loader/v/1.4.0

Thanks for your feedback @anthonygore !

[2018-10-18 00:58] #4 closed

[2019-01-19 08:51] sammyne opened #6 "inline-code is missing from `vue.render` in child component"
# Bug report

+ version: 1.5.2
+ nuxt: 2.3.4

## steps to reproduce
1. clone this project https://github.com/sammyne/nuxt-playground
2. `cd nuxt-playground`
3. `yarn`
4. `yarn dev`
5. open the browser and navigate to `localhost:3000/todo/todo`

## expectation
a page with content as

[code]

## but got
[code]

## Comment

as seen, the inline code block `hello world` and the `-222` after it has been

[2019-01-19 10:19] hmsk commented on #6
Thanks for the report ✨  Just confirmed that's reproduced.
I will work on fixing, but may not be happened earlier.

[2019-01-19 12:12] sammyne commented on #6
Thanks for your attention~ It's awesome library. @hmsk

[2019-01-30 04:46] soniktrooth opened #12 "Access attributes etc"
I'm having trouble accessing any of the properties after importing md files.

Here's my code:
`nuxt.config.js`
[code]

`component.vue`
[code]

In this case `md` is the correctly rendered markup from the md file but `md.attributes`, `md.body` and `md.html` are all undefined.

What am I doing wrong?

[2019-02-01 21:06] soniktrooth commented on #12
@hmsk thanks for the reply. I realized that I was still including the `'@nuxtjs/markdownit'` module which, as you said, was why it was getting converted to markdown. However after removing that and replacing it with your module I get
```TypeError: string.split is not a function   ```
My repo is here if you have a chance to look: https://github.com/soniktrooth/c3v

Thanks!

[2019-02-02 08:13] hmsk commented on #12
I didn't see such the error but found the config is not loading the loader for the server build.

[code]

here's what you expect in your current HEAD:

![image](https://user-images.githubusercontent.com/85887/52161755-f3d3f580-267e-11e9-961c-10bf97c9a3ec.png)

So, there's not any problem in the loader at all. let me close this issue 😉

[2019-02-02 08:13] #12 closed

[2019-02-03 01:36] soniktrooth commented on #12
Thank you so much, I didn't notice this!

[2019-02-24 05:29] zheeeng opened #20 "How can we pass the parsed html to html-loader?"
In some situation, we need some additional works to process on the html content by html-loader

[2019-02-24 05:58] hmsk commented on #20
Interesting. Could you give more detail with the actual sample codes? I'd like to think about whether accepting `html-loader` options for `html` property.

As a workaround, you can intercept parsed HTML in `markdown` option by giving markdown compilation manually.
https://github.com/hmsk/frontmatter-markdown-loader#use-your-own-markdown-compile

[2019-02-24 06:38] zheeeng commented on #20
We may reference some local assets which need by processed by html-loader.

[2019-02-27 02:12] AnthonyFromTheVault opened #21 "Use HTML tags within markdown files?"
This package is helping me solve the same problem you seem to have ran into, thanks so much for publishing!

I am having a bit of trouble figuring out how to use HTML tags within the markdown files. My main use case is links that contain `target="\_blank" rel="nofollow"`. I'm trying to use markdown-it as the markdown compiler and have imported with their `html: true` option, but am still seeing th

[2019-03-01 07:10] hmsk commented on #21
Seems that your component may be wrong to render the template.
I confirmed `<a>` is rendered correctly.

### Browser

![image](https://user-images.githubusercontent.com/85887/53622119-a5e2dc80-3bad-11e9-8704-834a3b1b7968.png)

### HTML

![image](https://user-images.githubusercontent.com/85887/53622134-b09d7180-3bad-11e9-9c16-7751ae265632.png)

### Markdown

![image](https://user-images.githubuserc

[2019-03-01 07:22] hmsk commented on #20
Understood, I may try to support that by some measures.
It'll be great if you give actual settings for html-loader which you're using.

[2019-03-01 19:54] AnthonyFromTheVault commented on #21
You helped me realize that I was overthinking the configuration, and once I took out the additional options it worked completely as intended! 🙌 .

FYI for anyone else, keep the nuxt.config.js options simple if you want to use markdown-it as a parser:
[code]

[2019-03-01 19:54] #21 closed

[2019-03-01 21:30] hmsk commented on #21
Glad to hear that you solved the problem.

I'm still curious about what was the exact problem in your end 🤔

[code]

Even if we give this as the custom compilation, that should work anyways.

[2019-03-01 21:36] AnthonyFromTheVault commented on #21
I think my problem was specifically with the webpack config I was including in my nuxt.config file:

[code]

When I remove the `options` object, all works as intended (and my html via markdown gets properly rendered):
[code]

[2019-03-01 22:30] hmsk commented on #21
oh, so you missed `html: true` for the option of markdown-it at all?
I thought my module has bug for custom compilation since your first sample was having `html: true` which must work for inline html tags.

[2019-03-01 23:31] AnthonyFromTheVault commented on #21
I had the `html: true` option set when I first encountered this issue, but I was also including the extra options on my webpack config which I think was my problem.

Importing markdown without the `html: true` option, and not including the options in my webpack config has everything working as expected 👍

[2019-03-01 23:41] hmsk commented on #21
Thanks for your explanation ✨

[2019-05-05 10:41] regenrek opened #33 "Output HTML is raw?"
Hi

I'm currently try to understand the loader and want to start with a
very basic example. It works but the `html` output is raw.

[code]

[code]

[2019-05-05 22:54] hmsk commented on #33
Right, `post.html` must be raw String. If you need to render string as HTML in Vue:

[code]

https://vuejs.org/v2/guide/syntax.html#Raw-HTML

[2019-05-05 22:54] #33 closed

[2019-05-10 05:29] regenrek opened #34 "Dynamic attribute.permalink possible?"
Hi instead of adding the url manually to frontmatter header is it possible to add the url (mostly the filename) to the attributes array?

[code]

[2019-05-26 23:53] hmsk commented on #34
I was thinking about this these days. The module would able to provide some metadata about the file like filename. this can't provide "permalink" technically though. That requires many contexts for the website, and that should be the out of the scope of this loader.

[2019-06-01 23:38] regenrek commented on #34
Hey thanks for your reply. I really hoped for an suitable answer to this issue the last weeks. Since I think you should have more 'out of the box options' with this awesome library.
You have any good suggestions to solve this problem?

[2019-06-02 16:23] hmsk commented on #34
Thanks for your feedback.

If you have the exact idea, send PR to this repository 😉 I don't think I need to care a lot about "out of the box options". Webpack's loader system provides many ways to format original data until the importer gets. For example, you could make and add another loader to immediately before this loader to give "permalink" to frontmatter part.

But I have an idea to have met

[2019-06-07 13:49] UIX-Design opened #38 "How can i parse elements from parsed html?"
My parsed html looks like this:

[code]
How can i get all headings to create a navigation for each markdown file, so i can do this:?

[code]
Can i use `DOMParser` to parse headings from html string?

[2019-06-07 19:37] hmsk commented on #38
Yep, `DomParser` works probably. since the loader just gives string. So parse that as you like.

[2019-06-07 19:37] #38 closed

[2019-06-09 18:36] UIX-Design opened #39 "Need more html attributes than just body"
For my project i need more parsed markdown attributes than just body. In my markdown file, i have mulitple footnotes. At the moment, a footnote consists entirely of text:

[code]
But i need more flexibility to add html content like links, images etc. The Problem is, that i want to render the footnotes in a different place than the `body`.

I know that i can use the `DOMParser` for that to split th

[2019-06-09 19:14] hmsk commented on #39
Could you give more concrete examples to explain what you'd like to? I can't get it what you mean. I'd to see actual input/output you desire. It'll be great if you propose with actual pull-request.

Or I recommend building another loader to realize your needs by yourself.

[2019-06-09 20:59] UIX-Design commented on #39
@hmsk sure, at the moment, i parsed the footnotes array from attributes section, so i only pass strings to the object keys. I want to add multiple markdown section in the body, which i can access over dynamic variables. In principle exactly the same as with the attributes, only that I can write markdown content, such as links, pictures, videos etc:

[code]
Maybe so. It is important to me that I do

[2019-06-09 22:18] hmsk commented on #39
Thanks for your explanation. I didn't find the exact benefit which lets me accept to add such the complexity. The loader just focuses on importing the frontmatter-markdown file as "front matter attributes" and "compiled markdown".

I don't think that's no longer "frontmatter markdown". Front-matter attributes come to the top of the markdown **once**. If you intend to import such the file which has

[2019-06-09 22:58] hmsk commented on #34
I added `attributes._meta.resourcePath` which reflects Webpack's loader context's `resourcePath`. To get the pathname for the markdown dynamically, you can parse that as you need.

Released as v1.7.0: https://github.com/hmsk/frontmatter-markdown-loader/releases/tag/v1.7.0

[2019-06-09 22:58] #34 closed

[2019-06-13 13:04] UIX-Design opened #40 "Vue Component doesn't work for me in NuxtJS"
I follow the Instruction to use Vue Components in my `.md` files, but it doesn't work.

my `nuxt.config.js` looks like this:

[code]

my markdown-file looks like this

[code]
my `page.vue` looks like this:

[code]
Where is my mistake? I not get any issues in the dev console...

Another quick question. How can i get all `.md` files with all attributes, so i can create a dynamic blog home page with

[2019-06-13 14:01] hmsk commented on #40
[code]

this looks overwriting template of the component.

Technically you could. By importing markdown through this loader dynamically. That might not be straight forward since Webpack/Nuxt expects the importing is static to build static JS. However I can't help you about the specific environment.

[2019-06-13 14:53] UIX-Design commented on #40
@hmsk thanks for your answer. When i remove the `<template>` it works now.
But i need the following `<template>` section:

[code]
So do you have an idea, how can i use this template structure with my `.md` files and vue-components inside that? I don't know how can i do that...

[2019-06-13 15:36] hmsk commented on #40
I guess you need to have a component which loads markdown without `<template>`. Then you import and place in `pages/your-page.vue`

[2019-06-13 15:40] UIX-Design commented on #40
@hmsk thanks for your answer. I am newcomer of Vuejs and NuxtJS. Could you give an example, so i can use your example code in my project. I think i can unterstand you better in this way - thanks

[2019-06-16 22:42] #39 closed

[2019-06-21 10:13] #40 closed

[2019-06-25 13:36] UIX-Design commented on #34
@hmsk it is possible to add to `attributes._meta` date of creation and the date of last edited, so i can use these values for open graph protocol like this:

[code]

[2019-06-25 17:44] hmsk commented on #34
That's interesting. But as file-system, these dates don't show the actual time as you expect. The time is "created/modified time on the file-system".

[2019-06-26 10:07] UIX-Design commented on #34
@hmsk ok, it is possible for you to add the „created, motified“ time to the attributes._meta array?

[2019-06-26 17:14] hmsk commented on #34
No. I mean I'm not going to add that.
If you deploy codes to other servers (file-system), these times will be lost and show the time of the deployment.

[2019-06-27 01:21] sustained opened #41 "Possible to have vue-loader process images?"
I'm using this in a Nuxt project and I was kind of hoping it would just work with [assets](https://nuxtjs.org/guide/assets/) but it doesn't.

[code]

None of these render the image, the URL is never processed.

A workaround is using the `static` folder instead of `assets` but I'd rather get assets working with this if possible!

Any thoughts or ideas?

[2019-06-27 18:13] hmsk commented on #41
I see. Currently, the loader can't resolve the image since Markdown is compiled to HTML purely. As the request of #20, I may support html-loader for post-process of the compiled HTML and that can solve this case by giving the same config of Nuxt.

[2019-06-27 18:20] sustained commented on #41
Sounds good!

I saw that it's possible to pass multiple loaders to Webpack via `use`. Like, right now it looks like this:

[code]

But after a cursory glance at the Webpack docs I saw that you can instead pass an array of loaders + options to `use`.

I wondered to myself if it might be possible to make it work that way/if it was really as simple as that? Or perhaps it is more complex and will requ

[2019-06-27 18:37] hmsk commented on #41
Since this loader is passing the structured data (HTML is nested), can't pass that to another loader straightly. So multiple loaders don't work.

I never tried but we may intercept with `markdown` option as workaround 🤔

[code]

anyways, I try to think about the elegant approach in my leisure. thanks.

[2019-06-27 19:05] sustained commented on #41
Thank you, I look forward to and remain hopeful for a solution!

In the mean time I might try to hack my way around it, just for the sake of learning/experimentation.

[2019-07-04 13:01] sustained commented on #41
FYI someone said that they had some luck chaining with `html-loader` but I had no luck when I tried it.

[2019-07-05 17:54] hmsk commented on #41
I'm still experimenting to bypass HTML processing with html-loader. If this works, I'm going to release as beta.

And I got another idea for the workaround. You can provide the custom component which shows assets. Create the component which shows an image, then use that on markdown with like `<my-image-on-nuxt src="asset" />`.

Probably, they added some tweaks. Since `frontmatter-markdown-loader`

[2019-07-10 09:59] hmsk opened #45 "Support selective import"
From: https://twitter.com/hmsk/status/1148660394463920128

Currently, `html`, `body`, `vue.render` (optional), `vue.component` (optional) are including the content which is based on markdown. In most of the use-case, the user wants just one of them and the whole build gets bigger unintentionally. So, the loader should support disabling specific member of importing. Probably, loader's option is the

[2019-07-16 03:22] chendj89 opened #47 "语法高亮怎么设置"
好像没看到哪里可以设置？

[2019-07-16 03:41] #47 closed

[2019-07-21 10:49] lukaszb opened #49 "How to use render function directly"
Hey, I've been trying to create a reusable component for all my markdown files. I have gone through https://github.com/hmsk/frontmatter-markdown-loader-vue-sample but it explains how to create a component out of a single md file. What I would like to build is something like (note this is nuxt app btw):

[code]

And when I try to open that page I get an error:

`render function or template not defi

[2019-07-21 22:18] hmsk commented on #49
You may miss the truncated content on https://github.com/hmsk/frontmatter-markdown-loader#vue-template (Hit `Or can take functions by compiled template as string `render`, `staticRenderFns` which are Vue component requires.`). There is the way to use `render`, `staticRenderFns`. If you don't solve with this, share your repo to reproduce. I may take a look.

[2019-07-22 07:06] lukaszb commented on #49
omg, yes, I've totally missed that 🤦‍♂
Thanks a lot, worked like a charm!

[2019-07-22 07:06] #49 closed

[2019-07-22 17:30] hmsk commented on #49
Happy to hear that!

[2019-07-23 08:41] delapuente opened #50 "Array in frontmatter is not correctly parsed"
Imagine I have the following frontmatter:

[code]

These attributes should be parsed as an array but due to the recently addition of the `_meta` field to the `attributes` object in 2dd5cca98037db57becc937b32bec99a5172c92c, this is no longer possible. Is this intended? Would it be possible to add the `_meta` field to the top structure? In the same way we do:

[code]

[2019-07-23 08:56] hmsk commented on #50
Ugh, good point. I agree with you, that's better than what I did before.
I will follow your idea. Thanks for pointing!

[2019-07-23 14:07] delapuente commented on #50
Happy to help if you're out of bandwith. I can prepare a PR if you want.

[2019-07-23 19:52] hmsk commented on #50
Thanks. I'm having another change that replaces the whole code structure which will conflict to the fix for this issue. So, leave this issue for me to deliver together.

[2019-08-10 11:37] sustained commented on #41
I think I tried the custom component method and couldn't get it to work but I'll give it another try!

Have you had any luck with implementing this by now?

[2019-08-17 20:35] hmsk commented on #41
I was exploring the way to make that but didn't get the appropriate approach yet.
https://github.com/hmsk/frontmatter-markdown-loader/tree/html-loader

[2019-08-17 20:48] hmsk commented on #45
the default should have only `html` and `attributes` for the main mind-set of using this loader (markdown and frontmatter!) I guess.

[2019-08-17 20:49] #50 closed

[2019-08-18 05:58] #45 closed

[2019-08-20 16:34] kutluhann commented on #41
I have the same problem. I'm waiting for you to find a solution.

[2019-08-22 01:37] sustained opened #54 "Possible to pass in props/data?"
Basically what I want to do is make it so that you can do e.g. `{{ foo }}` in the **markdown file** and then I want to pass that down as a prop or as data somehow.

But `vue.render` and `vue.render.staticRenderFns` are strings so there's no real way to manipulate them.

# Potential solution

Since the e.g. `vue.render` string looks like this:

[code]

...then it would be feasible to make that func

[2019-08-22 02:11] sustained commented on #54
Never mind, I figured it out! It just works already via the props/data on the wrapper component!

[2019-08-22 02:11] #54 closed

[2019-08-31 19:09] chasebank opened #56 "Vue is undefined in 2.0.0"
I've been trying to debug an issue with loading Markdown files in Nuxt, and have finally narrowed it down to a versioning issue for this loader.

You can test here: https://codesandbox.io/s/nuxt-markdown-blog-starter-g83c5

File attributes are successfully loaded in `/pages/index.vue` and `/pages/blog/_slug.vue`, but in the latter, `.vue` is undefined.

This seems to have broken in 2.0.0   If you

[2019-08-31 19:34] danielroe commented on #56
https://github.com/hmsk/frontmatter-markdown-loader/releases/tag/v2.0.0

[2019-08-31 20:25] chasebank commented on #56
Awesome! Thanks for the quick reply. That does indeed fix it.

[2019-08-31 20:25] #56 closed

[2019-09-01 16:23] lobo-tuerto opened #57 "Update the README.md file"
Maybe add the new way to configure Webpack to have a Vue component passed down.

I was going crazy because all the tutorials show it like this:

[code]

When with version 2, it's like this:

[code]

I think a little example on the README.md can help to quickly identify the new way of doing it.

[2019-09-01 22:17] hmsk commented on #57
Thanks for the feedback. I intend to remove the configuration from README.md since there was a ton of information sporadically. That's why I built [the separated documentation](https://hmsk.github.io/frontmatter-markdown-loader/).

But as your pointing, I may leave some shortcuts for the page which is talking about Vue from README.

It'll be great if you let their author know about v2 😉

[2019-09-01 22:17] #57 closed

[2019-09-01 23:48] hmsk commented on #57
Tried to improve ✏️ f29767719477d399e670c79c2ce3a3634e0f8156

[2019-09-02 02:51] lobo-tuerto commented on #57
Thank you for the updated README.md!

And about the tutorials, I think this one is yours: https://medium.com/haiiro-io/compile-front-matter-markdown-as-vue-template-9ccd55afb672 :)

[2019-09-02 05:43] lobo-tuerto commented on #57
BTW I wrote a post on how to use [Vue.js components inside Markdown.](https://lobotuerto.com/blog/vuejs-components-inside-markdown/)

In case someone is looking for a tutorial with the v2.0. :)

[2019-09-02 06:26] hmsk commented on #57
😂 I must add some notes.

[2019-09-12 06:52] delapuente opened #61 "Multiple documents in the same file"
We are using `frontmatter-markdown-loader` for defining the layout of our website and separate design from content. One of the things we need is being able to be able of filling different sections with custom HTML coming from Markdown sources. If relying on multiple documents, maintainement is a mess. Instead, we are working of adding support to this loader for several documents in the same file:

[2019-09-13 07:46] delapuente commented on #61
Unfortunately, it's not that easy, since a loader cannot multiplex a file, splitting the loading process into several ones.

[2019-09-13 08:02] delapuente commented on #39
@UIX-Design I suppose your case is similar to mine and you want to use Markdown for the content of the footnotes. You can give it a try to [my fork](https://github.com/delapuente/frontmatter-markdown-loader/tree/multiple) and [pass the option `multiple: true`](https://github.com/delapuente/frontmatter-markdown-loader/blob/multiple/docs/options.md#multiple-mode).

To install it, replace the `"front

[2019-09-15 09:10] abusedmedia commented on #41
Same here that it'd be great to consider .md with its assets as a whole out of the box rather than relying with the static folder as workaround.

[2019-09-17 03:22] hieu-brain opened #63 "It's possible to use without .md file ?"
I'm using this in a Nuxt project and I want to render markdown data from Data instead of using .md file. Is it possible to do this?
Thank you

[2019-09-17 07:31] hmsk commented on #63
This module is just a loader for Webpack which expects to be used for import/require on JS codes. So can't support your case, unfortunately.

As the core logic is coupled with Webpack stuff, we may be able to reuse if we separate out the core logic to take markdown data and return processed JS object.

[2019-09-17 07:31] #63 closed

[2019-09-20 12:55] soongsta commented on #50
I tried doing this

      md = import(arrayitem), where arrayitem = '@/blog/post1.md'

but I am getting the following error

 Error: Cannot find module '@/blog/post1.md'

[2019-09-20 12:56] soongsta commented on #50
hmmmm just to clarify

`md = import(arrayitem)`

and arrayitem contains the value '@/blog/post1.md'

[2019-10-09 20:01] selbekk opened #66 "Add `markdown-it` options option"
As a user, I'd love to add options to the default options of `markdown-it`. This way, I don't have to set up my very own markdown formatter instead.

I think we can override the `markdown` option - if it's an object, pass it to the `markdown-it` initializers.

[2019-10-12 01:00] #66 closed

[2019-10-20 07:33] hmsk commented on #41
@sustained @kutluhann @abusedmedia The pre-release of next major version `3.0.0-0` is supporting transpiling assets. It'll be helpful if anyone tries before the actual release 😉

[code]

will be harmonized with `html-loader`, `file-loader` as well as `vue-loader`.
If you're using `vue.render`, `vue.staticRenderFns`, there's a breaking change: #74

https://github.com/hmsk/frontmatter-markdown-loade

[2019-10-27 00:41] #41 closed

[2019-10-30 07:29] hmsk opened #77 "optionalDependencies expects unintentional installation"
The current `optionalDependencies`:

[code]

are installed in any project which installs `frontmatter-markdown-loader` unintentionally.  I meant those are completely optional in the user's end, but npm behaves differently.

`peerDependencies` also shows unnecessary warnings if the project doesn't use react/vue features. So, remove `optionalDependencies` and throw if those are required by mode at a

[2019-11-06 05:43] #77 closed

[2019-11-09 11:43] joshukraine opened #83 ""[WARN] Cannot stringify a function render" after upgrade to 3.x"
I've been building a static blog with Nuxt.js, and I'm using `frontmatter-markdown-loader` with `[Mode.VUE_RENDER_FUNCTIONS]` to render Markdown pages and posts which contain Vue components. This was working great on v2.3.0, but after upgrading to v3.1.0, I cannot properly render Markdown files which are loaded dynamically using Nuxt's `asyncData` function.

Here's my dynamic render component:

[c

[2019-11-09 13:42] hmsk commented on #83
That seems not this loader's problem.

Since `asyncData` in Nuxt doesn't expect function in a returning object.
On SSR process (so when reloading the page as you mentioned), Nuxt does some converting for the returned object. Then that shows such warnings.

![image](https://user-images.githubusercontent.com/85887/68529346-865e9080-02b2-11ea-87ec-bd41f51b777b.png) ![image](https://user-images.github

[2019-11-09 14:14] hmsk commented on #83
btw component mode might be easier to use. Here's my recent dynamic-markdown-ish implement with Nuxt.

[code]

[code]

[2019-11-09 15:28] joshukraine commented on #83
Thank you for the quick response! I like the `created()` option, though I'm not 100% clear on how to implement it. If I understand you correctly, you're suggesting it would be easier to use `[Mode.VUE_COMPONENT]` in the loader setup (nuxt.config.js) and the use a dynamic component in `/pages/blog/_slug.vue` yes?

Sounds good. I'm a bit unclear about this code block:

[code]

Where does that need t

[2019-11-14 08:48] martijnmichel opened #84 "Quasar"
How would i be able to use quasar components inside md files using this loader?

When i try to use mode render:
vue.runtime.esm.js?2b0e:619 [Vue warn]: Error in render: "TypeError: Cannot read property '_c' of undefined"

When using mode component:
q-dialog is not found

I hope someone can help :)

[2019-11-15 05:41] Strahinja commented on #83
@hmsk A couple of questions:

1. Does component mode work in SSR, or is it strictly `<client-only>`?

2. Current `Mode.VUE_RENDER_FUNCTIONS` allows manipulations on the resulting node tree, for example to highlight a search term. Is that possible with `Mode.VUE_COMPONENT`?

[2019-11-20 19:46] hmsk commented on #83
@joshukraine thanks for waiting for my late second reply 🙃 The code block is just pasted from my project, so that might confuse you. Below is the minimum code of SFC to render markdown and attributes.

[code]

Ref (The repo is the original use-case of frontmatter-markdown-loader before I founded):
https://github.com/haiiro-io/violet/blob/master/components/Work/DynamicMarkdown.vue

[2019-11-20 20:03] hmsk commented on #83
@Strahinja

Basically, should work for SSR without `<client-only>` on Nuxt.
It depends on markdown content and your use-case though.

Originally, I mentioned about `<no-ssr>` (previous `<client-only>`) as a required factor in somewhere. But found out it's by my misunderstanding.

If you have any trouble, provide a reproducible repository. I'm happy to look into.

Interesting. Could you give actual

[2019-11-20 20:07] hmsk commented on #84
Hope you bring a reproducible repository. I never used the loader with Quasar and the error isn't enough to understand your situation.

[2019-11-21 09:11] Strahinja commented on #83
Of course. Here's the `applyHighlight` method I made:

        applyHighlight(node, h)
        {
            if (this.highlight.length>0 && node)
            {
                if (node.text)
                {
                    if (node.text.length >= this.highlight.length)
                    {
                        let result = [];
                        let i = 0;
                        le

[2019-11-21 16:13] joshukraine commented on #83
@hmsk Thank you so much for your reply and the example code! That helped tremendously. I've implemented your solution in my blog and for the most part it works as you demonstrate in your code sample. (FWIW, you have a couple of typos in that code.)

Anyway, the one thing that does not seem to work as intended is the frontmatter. The `attributes` data property loads fine and is visible in Vue devto

[2019-11-21 16:53] hmsk opened #86 "Manipulation the resulting node tree"
Substitute thread for @Strahinja on https://github.com/hmsk/frontmatter-markdown-loader/issues/83#issuecomment-556990107

Of course. Here's the `applyHighlight` method I made:

        applyHighlight(node, h)
        {
            if (this.highlight.length>0 && node)
            {
                if (node.text)
                {
                    if (node.text.length >= this.highlight.length)

[2019-11-21 16:54] hmsk commented on #83
@Strahinja Let me move our discussion into the another issue #86 to avoid running multiple discussions on the single thread 😉

[2019-11-21 16:59] hmsk commented on #83
@joshukraine

Haha, that might be. I didn't run that code actually 🙈

I guess the title requires null-check since the attributes are provided asynchronously 🤔

[code]

And thanks for giving me coffees on https://www.buymeacoffee.com/hmsk 🙏 I really appreciate and am honored.

[2019-11-21 17:06] hmsk commented on #86
I'm really impressed by that approach. I guess you're familiar with how Vue works 😉 (or old Vue user who needed to care about `render` function)

As you assumed, `Mode.VUE_COMPONENT` doesn't give the chance to manipulate the node tree directly, and expect to interact through `$el`.

[2019-11-21 18:03] joshukraine commented on #83
@hmsk

Aha, of course! That worked. 🙂 As far as I'm concerned, that resolves this issue, so I'll go ahead and close.

Thanks again, and have an awesome day! 😎🙌🏻

[2019-11-21 18:03] #83 closed

[2019-11-22 09:27] Strahinja commented on #86
From the documentation, `$el` is available only after mount, so the difference is that the manipulation (insertion of highlighting `<div>`s) must be done in `mounted()` instead of `render()`. I have to test more thoroughly, but that could be a breaking change. I'll post back here when I do that, hopefully during this weekend.

[2019-11-22 18:28] hmsk commented on #86
That's a good point. So the actual timing of applying "highlight" should be different completely, hence your expectation may not be satisfied with `VUE_COMPONENT` mode 🤔

[2019-11-24 18:27] Tomaszal commented on #83
@hmsk

This might be a lot to ask, however it would be amazing if we could actually load the vue component inside of nuxt asyncData. Loading the component in asyncData makes it load server side, which slightly increases the performance, but most importantly it allows the page to be loaded without javascript. Not quite sure how that could be implemented though, perhaps a custom serializer?

[2019-11-25 04:38] joshukraine commented on #83
That's a good point I hadn't thought of earlier. This worked in 2.x by passing the function as a string. @hmsk Perhaps it would be possible to provide this as an option? I think you had mentioned something to that effect in a previous comment above:

Seems like pre-rendering the content with asyncData (or at least making it possible as an option) would have benefits not only for performance but fo

[2019-11-25 06:20] hmsk commented on #83
Hmmm, I don't think we need to persist in using `asyncData` because `asyncData` is designed for passing primitives which can be generated only in backend servers to use in clients. And typical FML origin components can work with both. can't imagine the exact use-case we need to use `asyncData` yet.

`beforeCreate` and `created` hooks are called in SSR process. (Try cURL your Nuxt server, you can s

[2019-11-25 07:17] joshukraine commented on #83
So, pre-rendering/SSR could work without using asyncData.

Thanks for the clarification. I was thinking that when importing the markdown inside `created()`, it would only be called client-side. But I checked my generated files and all the content is fully rendered in the HTML, so that's super. Should be fine for SEO. 😁

[2019-11-25 15:46] Strahinja commented on #86
Yeah, basically I need the `FMMode.VUE_RENDER_FUNCTIONS` functionality because I use `nuxt generate`, and in addition to the above, I'm using Vuex store to handle data. My use case is [my website and blog I'm developing in Nuxt.js](https://github.com/Strahinja/strahinja-org). Is there a specific reason this feature is missing? After all, if a programmer doesn't know how to use it, they can always

[2019-11-25 16:55] Tomaszal commented on #83
@hmsk I'm not sure if I misunderstand something or Nuxt treats SSR process differently from native Vue. However I tested it on my Nuxt server and the contents are not rendered before running JS (tried cURL-ing it as well with same result). I can put together an example repository if you want.

That is an interesting idea, but I could not get it to work. However, while tinkering with it I stumbled

[2019-11-25 18:30] hmsk commented on #83
Go for it. I will see later.
At least, Nuxt is just running SSR with vue-server-renderer.  So there is no different for the core behaviors of `beforeCreate` / `created` for SSR basically.

I couldn't see any serialization on your code 👀

Yeah, server side processing of `asyncData` can accept values other than function apparently. You may see inconsistent behavior between visiting directly and visi

[2019-11-25 19:10] hmsk commented on #86
Ah, I get it. You're generating static build of highlight-ed pages. That looks the appropriate use-case. However, I'm still aiming for the sunset of "VUE_RENDER_FUNCTIONS" to simplify the usage of FML.

Thanks for giving your repo! I will play with that since I have an idea to make it your use-case with `VUE_COMPONENT`.

[2019-11-25 20:00] jplew opened #88 "Getting "Cannot Import Module" errors when using Typescript"
I was getting "Cannot Import Module" errors when attempting to import Markdown files in Typescript.

However, the solution was as simple as adding the following globals.d.ts file to my project root:

[code]

[2019-11-25 20:00] #88 closed

[2019-11-25 23:08] Tomaszal commented on #83
[Here it is](https://github.com/Tomaszal/nuxt-fml-issue), running it in SSR mode and cURL-ing it returns an empty page. It loads after client JS has been run. Pre-rendering it also returns an empty page.

Haha, should've clarified more I guess. Yes that code doesn't contain any serialization since I wasn't successful with it, but that code was something I stumbled upon while tinkering.

The reason

[2019-11-25 23:51] hmsk commented on #83
You're not using AsyncComponent correctly.
https://vuejs.org/v2/guide/components-dynamic-async.html#Async-Components

[code]

The original code seems to work for the client side in coincidence unfortunately 🙃

[2019-11-26 03:18] Tomaszal commented on #83
Thanks, that solves my use case. Never used async components, learn something new about Vue everyday :smiley:

If you don't mind I've submitted a PR #89 with a few Nuxt examples that you helped me figure out. I have one more question but I feel it's more appropriate to be discussed in the PR.

[2019-11-27 01:51] hmsk commented on #86
I tried to implement my idea and sent PR for your repo: https://github.com/Strahinja/strahinja-org/pull/1

The idea to have your highlight functionality is overwriting a component object's `render` function.

[2019-11-28 04:00] dbruning opened #91 "Nested components?"
If my markdown includes a component, then that component is rendered fine.
But, if that component itself includes a child component, then that child component is not rendered (just looks like a custom tag in the HTML).
Should this work? If it should work, I'll try to provide a repro.
Thanks for this component, it's awesome!

[2019-11-28 04:06] hmsk commented on #91
Happy to take a look :)

[2019-11-28 20:10] dbruning commented on #91
Nevermind - this turned out to be due to a separate error which I fixed. Nested components seem to be working fine.
Thanks again!

[2019-11-28 20:10] #91 closed

[2019-11-28 20:22] hmsk commented on #91
Great to hear! And thanks for [giving me a coffee](https://www.buymeacoffee.com/hmsk) ✨

[2019-11-28 20:24] hmsk commented on #84
Let's reopen when a repo to repro is provided 😉

[2019-11-28 20:24] #84 closed

[2019-12-03 21:08] hmsk commented on #86
@Strahinja Probably, you don't see any problem anymore...? I close this issue but feel free to reopen if you still see something worse. Thanks for sharing your use-case!

[2019-12-03 21:08] #86 closed

[2019-12-04 08:43] Strahinja commented on #86
I'm sorry for not commenting here as well, I commented on the PR. Basically, the problem was to find a way to extend the loaded data. Your way of doing that solved the problem.

[2019-12-14 06:01] jefrydco opened #96 "Render and staticRenderFns in SSR"
In version `1.8.0`, we can set the `render` and `staticRenderFns` to data via `asyncData` since it was a string, but in the current version, I think we can't do that. Is there any workaround for that?

[2019-12-14 06:08] hmsk commented on #96
Right. https://github.com/hmsk/frontmatter-markdown-loader/issues/83 may answer your question.

[2019-12-14 07:29] jefrydco commented on #96
Sure, that answers my question, but the content of markdown won't render from the server. Please check out this https://github.com/jefrydco/jefrydco/tree/feat/frontmatter-markdown-loader

[2019-12-14 08:55] hmsk commented on #96
Looks abusing asynchronous `import` which couldn't be resolved on the server-side 👀
`<component :is="">` expects function which returns Promise by `import` for SSR + asynchronous importing. Or just a ready-made component object synchronously. Your approach is passing an object which will be fulfilled by another asynchronous process, but `<component>` can't wait on the server-side.

Here's the quic

[2019-12-18 06:44] jefrydco commented on #96
Sorry for late reply, and thanks for the patch. It really worked! I also have created PR for example mentioned in https://github.com/hmsk/frontmatter-markdown-loader/issues/83.

[2019-12-18 06:44] #96 closed

[2019-12-18 06:47] jefrydco commented on #83
@joshukraine , From your example, I think you're using Nuxt Markdown Blog starter from @marinaaisa. I've created PR to solve this issue and it already merged as well, https://github.com/marinaaisa/nuxt-markdown-blog-starter/pull/9

[2019-12-18 07:20] jefrydco commented on #20
I think this issue should be closed @hmsk regarding of merged https://github.com/hmsk/frontmatter-markdown-loader/pull/74

[2019-12-18 07:25] hmsk commented on #20
No, this is not fully fulfilled. Imported `html` doesn't work as intentional.
#74 is just for imported `vue` contents.

[2019-12-18 16:22] joshukraine commented on #83
@jefrydco Thanks for the heads-up! I'm not using Nuxt Markdown Blog per se, although I did reference it heavily while developing my own blog. I actually did see your PR, and I'd like to look through it a little more thoroughly when I get time. Thanks again! 🙂

[2019-12-21 10:09] sustained commented on #41
@hmsk Sorry that I didn't get a chance to try it when it was in pre-release but I'll have a play with this now and thank you for implementing this functionality.

[2020-01-16 19:52] cschweda opened #104 "Is it possible to render markdown and a component within the markdown?"
I'm confused about the 'Mode' settings.

If I have a markdown file ```test.md``` like this:

[code]

How do I configure the loader so that (a) I get the title, body, and Vue component ```displayDate```?

In other words, I want to embed Vue components within my markdown file and then render everything together. Sort of like how VuePress does it -- the markdown and the components.

Does ```frontmatt

[2020-01-16 20:20] cschweda commented on #104
Figured this out.

```vue.config.js```:

[code]

Content page:
[code]

```home.md```:
[code]

[2020-01-16 20:20] #104 closed

[2020-01-19 18:47] luklus opened #105 "MD Vue Component with Nuxt asyncData"
[code]

causes a problem:

RangeError
Maximum call stack size exceeded

Terminal:
WARN  Cannot stringify a function data
WARN  Cannot stringify a function render
WARN  Cannot stringify a function created
WARN  Cannot stringify a function VueComponent

Are there any restrictions with Nuxt asyncData?

[2020-01-19 19:59] hmsk commented on #105
`asyncData` on Nuxt supports only primitives.
If you're eager to process through `asyncData`, use `vue.render` , `vue.staticRenderFns`.

This thread may help you: https://github.com/hmsk/frontmatter-markdown-loader/issues/83#issuecomment-552101546

[2020-01-27 22:40] #105 closed

[2020-02-02 12:08] jbty opened #110 "Cannot stringify a function render ...etc with nuxtServerInit Vuex"
Hi,

First thanks for FML !

I created an ecomerce PWA and i use FMT for load some content from md files.

Everything work fine but when I use nuxt un dev mode, at the moment of the app started my console log this warn:

[code]

I was wrong ?

My vuex store
[code]

Shop list component
[code]

Shop _slug page
[code]

Nuxt config
[code]

[2020-02-02 21:32] hmsk commented on #110
Looks you're storing non-primitive data in Vuex by `commit('setProducts', products)` as the warning tells.
So `products[n].vue.component` shouldn't be involved. How about storing only attributes?

[2020-02-08 18:05] hmsk commented on #110
Now I close this issue. Happy to reopen if you still have the trouble and bring a reproducible repo 😉

[2020-02-08 18:05] #110 closed

[2020-02-08 19:51] J4VMC opened #112 "Passing data from frontmatter to component inside markdown"
Hello,

I'm trying to access frontmatter attributes in a component rendered inside a Markdown page, but I'm having no luck so far. The setup I have is as follows:

`nuxt.config.js`
[code]

`contents/posts/post-1.md`
[code]

`components/DynamicMarkdown.vue`
[code]

`components/ImageGallery.vue`
[code]

`pages/_slug.vue`
[code]

Would you be able to tell me how to achieve this?

[2020-02-09 07:07] hmsk commented on #112
It's not supported but interesting idea. I may support that usage at some point.
At this time, if you need to pass something to the custom element (Vue components), give JS primitives directly (or plain text without `v-bind` / `:`)

[code]

works for instance.

Just a thing I noticed by reading your code:
`DynamicMarkdown` doesn't run `ImageGallery` component even if you don't give `:images` props

[2020-02-09 07:07] #112 closed

[2020-02-09 09:07] J4VMC commented on #112
Hi

Thanks for the reply. It'd be a very good feature for the feature I think, as it'd open up a few more possibilities.

I tried following those links, but I use `async data` to import my posts in my `_slug.vue` page and I can't figure out how to combine that and what's explained in your links.

[code]

Would it be possible at all?

[2020-02-09 19:20] hmsk commented on #112
`asyncData` in Nuxt supports only JS primitives. You need to import markdown file in another way.
https://github.com/hmsk/frontmatter-markdown-loader/issues/83#issuecomment-552101546

[2020-02-10 01:51] J4VMC commented on #112
I keep getting `Cannot read property 'images' of undefined` when accessing the page, even thought `BaseImageGallery` is registered as a Global Component.

In my `/blog/_slug.vue` I have the following:
[code]

`/content/blog/post-1.vue`
[code]

Is this correct or am I missing something else to make it work? Thanks for the help.

[2020-02-10 03:20] hmsk commented on #112
I may help if you provide a reproducible repository. Can't figure out your problem from only codes you pasted.

[2020-02-10 09:32] J4VMC commented on #112
I can give you access to it, but it's a private repo. The cod

[2020-02-10 11:09] J4VMC commented on #112
I've created this CodePen project with the exact same code I've got for the Markdown part

https://codepen.io/J4VMC/project/editor/AMmMgw

[2020-02-25 12:01] AlexGilleran opened #114 "React version can't handle images"
Markdown like this:

[code]

Will result in this error:

[code]

The code looks like it drops the HTML output of frontmatter directly into a react component, so I'm not sure how it's even possible to work around this (except for directly using HTML for images). I guess you'd have to go through the generated HTML and fix all the unclosed tags before letting React interpret it? :(

[2020-02-26 18:29] hmsk commented on #114
Thanks for your report! This is the bug, JSX is expecting self-closing tag for `img`. I'm going to fix this problem next week.

As the quick workaround, you can configure markdown compiler like (`xhtmlOut` gives self-closing tag):

[code]

[2020-02-28 15:46] jonathanmach opened #118 "Cannot stringify POJOs with symbolic keys Symbol(Symbol.toStringTag)"
Hi,
I keep getting the `Cannot stringify POJOs with symbolic keys Symbol(Symbol.toStringTag)` error when trying to do the following with Nuxt.js:

[code]

Is it a know issue?

[2020-02-28 16:04] jonathanmach commented on #118
I couldn't make it work with `mode: [Mode.VUE_COMPONENT],`. I had to remove the `mode` and use `article.html` in my template instead.
Any ideas on how to fix this issue so I can use the `Mode.VUE_COMPONENT` mode?

[2020-02-28 16:07] jonathanmach commented on #118
This is how I'm generating my build:

[code]

[2020-02-28 23:16] hmsk commented on #118
`asyncData` on Nuxt supports only primitives. `vue.component` by VUE_COMPONENT mode couldn't be served through `asyncData` since that includes some functions.

[2020-02-29 11:29] jonathanmach commented on #118
Hi @hmsk , thank you so much for your response!

[2020-02-29 11:29] #118 closed

[2020-03-01 23:08] #114 closed

[2020-03-01 23:17] hmsk commented on #114
Delivered as [3.2.0](https://github.com/hmsk/frontmatter-markdown-loader/releases/tag/v3.2.0) 😉

[2020-04-05 05:55] lobo-tuerto opened #134 "Pure date gets parsed into UTC timestamp"
I'm having an issue where my frontmatter contains an attribute that's a pure date, for example:

[code]

Here `date` is converted OK, as expected, into an ISO8601 timestamp, but the `last_update` date, instead of being converted into an ISO8601 date it gets converted into a full timestamp.

[code]

Is there anyway to tweak this behavior?
Ideally the output I'd be looking for is to have this:

[cod

[2020-04-06 00:27] hmsk commented on #134
Thanks for your feedback.

This won't be supported. FML is relying on `js-yaml` through `front-matter`. `js-yaml` believes the timestamp type of the original repo of YAML. https://yaml.org/type/timestamp.html

[2020-04-06 00:27] #134 closed

[2020-04-06 16:57] heriisei opened #135 "How can we access the markdown attributes right from nuxt.config.js?"
I need to create filter function in order to build sitemap from dynamic article routes. The filter function will work to filtering out published article by read the status attributes inside each markdown files.

_The problem is I cannot find the right way to access & iterate each markdown attributes directly from nuxt.config.js._

Because of I'm use this repo [brevifolia-nuxt-forestry](https://git

[2020-04-07 06:01] hmsk commented on #135
That's not the area of the loader for Webpack 😉

You need to read md files and parse the content with Node. Probably, [front-matter module](https://www.npmjs.com/package/front-matter) helps you.

[2020-04-07 06:01] #135 closed

[2020-04-19 19:58] carluri opened #142 "Using markdown-it plugin breaks the subcomponents inside the markdown file in nuxt"
I'm having an issue rendering vue components within the markdown files when trying to use the `highlightjs` or `prism` to highlight code. I'm using Nuxt.

When my configuration is:
[code]
The components inside the markdown are rendered correctly, but then my code is not highlighted.

When I change the configuration to look like this:

[code]
Everything works ok too, which is expected as this is th

[2020-04-19 20:55] hmsk commented on #142
I just confirmed `markdownIt({ html: true }).use(markdownItPrism)` works correctly in the sample repo.
https://github.com/hmsk/frontmatter-markdown-loader-nuxt-sample/pull/2

I guess you missed to provide a stylesheet which `markdown-it-prism` requires.

https://github.com/jGleitz/markdown-it-prism

In Nuxt, adding `prismjs/themes/prism.css` (this referrs `node_modules/prismjs/...`) in `css` block

[2020-04-20 03:57] carluri commented on #142
Thanks for looking into this @hmsk . I did have the stylesheet required by `markdown-it-prism`. I checked your code and it still didn't work.

However, I was able to solve it doing the following:

[code]

So for some reason that is not clear to me it did not work using the `markdownIt` options when extending the webpack config. But it worked when  using the `markdown` option. This is however not t

[2020-04-20 04:51] hmsk commented on #142
As we can see the actual working example https://github.com/hmsk/frontmatter-markdown-loader-nuxt-sample/pull/2#issuecomment-616222958 on our browser, I think it's just your local's trouble.

Happy to look into more if you provide a reproducible repository 😉

[2020-04-27 08:09] hmsk commented on #142
Closing this issue since we don't have any discussion over a week. I welcome to reopen when a reproducible repository is provided.

[2020-04-27 08:09] #142 closed

[2020-05-05 21:27] henryjin3 opened #154 "Vue component appears to be parsing mustache tags within code snippets"
When using frontmatter-markdown-loader in Vue component mode, code examples from the markdown file that are in handlebars seem to be getting parsed out. For example:

[code]

The header will show up blank. And in another case:

[code]
The component is failing to render, saying that "attributes is undefined."

You can see my current setup at https://github.com/henryjin3/henryjin-dev/tree/vuemarkdow

[2020-05-06 08:25] TheLearneer opened #155 "component"

[2020-05-06 08:25] #155 closed

[2020-05-06 08:25] TheLearneer commented on #155
Was a complete misclick!

[2020-05-07 15:35] hmsk commented on #154
Thanks for reporting :)
This seems a bug, I will look into it. Btw, your blog system is excellent ✨

[2020-05-08 09:20] hmsk commented on #154
Released the fix for such the problem as `v3.4.3-0`, could you play with this version? @henryjin3

[2020-05-08 13:35] henryjin3 commented on #154
Looks good to me, thanks so much! I even debugged through the regex code but didn't realize that was the source of the issue :frowning:.

[2020-05-08 13:35] #154 closed

[2020-05-08 22:21] hmsk commented on #154
Your blog article data helped me to find the exact issue. Prism tweaks `<code>` contents with inline HTML and I didn't predict such the case when I implemented originally. Anyways, the original regex was really fragile though 🙈 (but don't want to have HTML parser just for Vue feature at this time)

Thanks for providing reproducible codes 💖
I'm going to release as `v3.4.3` after having proper tests

[2020-05-09 22:56] hmsk commented on #154
Released as `v3.4.3` ✨

[2020-05-21 06:08] incrypt0 opened #161 "How can we enable code highlighting for markdown ?"
Just got stuck on implementing code higlighting .Can I use hightlight.js for code highlighting if so How ?

I tried adding highlight to nuxt.config.js for the markdownIt key but still it is not working

[2020-05-21 19:04] hmsk commented on #161
That depends on how you use highlight.js 🤔
The basic usage of `highlight.js` expects `hljs.initHighlightingOnLoad();` is called after HTML is ready. So your app needs to render HTML from markdown.

Another way of highlighting code is processing with Markdown compilation. This sample is using [Prism](https://prismjs.com/) (and a plugin for markdown-it)
https://hmsk.github.io/frontmatter-markdown-lo

[2020-05-21 19:04] #161 closed

[2020-05-24 16:32] incrypt0 commented on #161
@hmsk  I am using nuxt js to create a personal blog that reads markdown files from a content folder.
I tried the sample with prism but it also did'nt work. If you could look into this repo It'dbe great thanks in advance :) [incrypt0/blog](https://github.com/incrypt0/blog)

[2020-05-26 07:15] lukeocodes commented on #83
Just a late reply to this. I wanted to SSR the content and the attributes which seem to be async.

I achieved it with this slightly wet but no-doubt effective solution:

[code]

[2020-05-26 07:56] hmsk commented on #83
@lukeocodes Right. Unfortunately, Vue's async component feature only handles component importing for SSR.

so,

[code]

doesn't work for `attributes` in the server-side. The below works for SSR instead, but lose benefits of async component 😞

[code]

Nuxt team recently released "content module", that may solve all markdown handling in Nuxt without this loader 😉
https://github.com/nuxt/content

[2020-05-30 13:27] yanuarakhid opened #165 "How to install highlight.js with frontmatter-markdown-loader ?"
in my markdown file i need some syntax highlighting like [highlight.js](https://github.com/highlightjs/highlight.js) i use frontmatter-markdown-loader in nuxt js. thanks.

[2020-05-31 06:28] hmsk commented on #165
Same as: https://github.com/hmsk/frontmatter-markdown-loader/issues/161

[2020-05-31 06:28] #165 closed

[2020-05-31 20:17] guillett opened #166 "Missing line breaks in code snippet"
Many thanks for your loader :pray:!

I tried to add code snippets into some on my .md documents in a NextJS project and statically exported site. These snippets are not properly rendered. More precisely line breaks are, somehow removed and the full content get displayed on a single line.

I tried to dig into your loader and markdownIt but I got lost.
Have you ever heard about similar issue with Ne

[2020-06-01 07:18] hmsk commented on #166
Thanks for bringing this to my attention! Looks it's unintentional behavior and I'm going to look into soon.

It's fixed on v3.4.2: https://github.com/hmsk/frontmatter-markdown-loader/releases/tag/v3.4.2 😉

[2020-06-02 10:21] hmsk commented on #166
Released a quickfix as a beta release: https://www.npmjs.com/package/frontmatter-markdown-loader/v/3.6.0-0
Could you try this?

[2020-06-03 06:28] guillett commented on #166
Many thanks for you fast quickfix 😍!

It worked with simple situations.

However I got an error with the following file

I saw [your quickfix](https://github.com/hmsk/frontmatter-markdown-loader/commit/f612efd811c4158780116557187dc7ab2bf3ccca#diff-168726dbe96b3ce427e7fedce31bb0bcR148-R152), I feel like you loader should rely on an HTML parser (I think I read a comment stating that you tried to avo

[2020-06-03 07:16] hmsk commented on #166
Thanks for confirming!
Yeah, it must be the time to welcome HTML parser finally. Let me have more time for that. I'm so excited since HTML parser enables us to write more feasible codes ✨ Another beta release of v3.6.0 will come.

[2020-06-05 11:54] jbty opened #167 "Cannot stringify POJOs with symbolic keys Symbol(Symbol.toStringTag)"
Hi,

First of all thanks for your work, I make a project width fml and I getting this error:

annot stringify POJOs with symbolic keys Symbol(Symbol.toStringTag)

Despite my research, I can't solve my problem, please can you help me ?

That's my vuex store:

[code]

[2020-06-07 06:22] hmsk commented on #167
As same as https://github.com/hmsk/frontmatter-markdown-loader/issues/118, the imported object is including non-primitive data. `nuxtServerInit` is evaluated on server-side, and serialize them to pass for client-side like `asyncData` on Nuxt page components.

(Just guessing the problem from the snippets you pasted, if you bring reproducible repository or CodePen project, I'm happy to take a look 😉

[2020-06-10 14:04] kinkwilde opened #172 "How to use within a nuxt payload dynamic route"
Is it possible to integrate this within a Nuxt payload dynamic route generator?

https://nuxtjs.org/api/configuration-generate/#speeding-up-dynamic-route-generation-with-code-payload-code-

I had something like this but I can only receive the slug and not the page data

[code]

[2020-06-15 05:37] #167 closed

[2020-06-16 11:34] hmsk commented on #166
Released v3.6.0 https://github.com/hmsk/frontmatter-markdown-loader/releases/tag/v3.6.0

Additionally, I fixed another `class` vs `className` problem and some corner cases I found in my test apps. I'm closing this PR, but happy to hear back from you whenever.

[2020-06-16 11:34] #166 closed

[2020-06-16 11:37] hmsk commented on #142
I found the missing piece between us. I found the object by `require('markdown-it')` doesn't work for `markdownIt` option. However, my codes in sample repo were using `import MarkdownIt from 'markdown-it'`. The root problem is fixed in https://github.com/hmsk/frontmatter-markdown-loader/releases/tag/v3.6.0 😉

[2020-06-20 09:13] #172 closed

[2020-06-27 21:27] tekforge opened #176 "Using the dynamic example B, I am unable to render local components in markdown"
[code]

![image](https://user-images.githubusercontent.com/61119995/85932550-83340700-b879-11ea-87d3-1cf67ff79e6e.png)

The local component isn't found by the dynamic component. In example C, the markdown component is extended to import the local components. How can the dynamic component be extended to import a component array?

[2020-06-28 07:10] hmsk commented on #176
Need to register `NpmOrYarn` to the component which renders actually.

[code]

[2020-06-29 20:36] tekforge commented on #176
@hmsk Thanks! I had tried it in dot notation, but I now see that I was trying to set a function and not an object.

[2020-06-29 20:36] #176 closed

[2020-07-06 17:03] carluri commented on #142
Thanks for looking into this @hmsk (and apologies for the late reply have been busy with other things). I will take a look at the changes this week and will let you know if I still run into some issues. This looks very promising though, thanks again.

[2020-07-18 09:35] gotenxds opened #180 "Any way of using dynamic data from database for vue components?"
In cases where you have some md strings(not files that you require) loaded from the databases for example

[code]

And I would like to render that md text, simlier to how you can do it with markdown-it-vue

[2020-07-18 09:38] #180 closed

[2020-08-06 13:52] Keerthu94 opened #186 "Is there a way to get last modified date and time of md file"
Most documentation site shows "last modified" information in the site, if meta mode contains last modified date with time, it would be helpful. If the feature is already available, please help me out

[2020-08-06 17:48] hmsk commented on #186
No. Welcome your PR 😉

Once I tried to work on that, didn't take enough investigation, therefore can't find out how we can get a consistent timestamp of last modified. For instance, when we deploy markdown files to a production server through Git (like Netlify), typical modified/create time info depends on the time of "git clone/pull".

[2020-08-07 04:45] Keerthu94 commented on #186
I would definitely like to take it up, I will do some investigation and try to do this enhancement. Thanks

[2021-01-21 13:14] renovate[bot] opened #221 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:13] #221 closed

[2021-02-21 18:29] FDiskas commented on #88
I landed with thous types:
[code]

[2021-03-23 16:50] gregorvoinov opened #232 "vue: Unknown custom element from .md"
Hi, I'm not sure what I'm doing wrong, but my vue-component doesn't get render from .md file

[code]

[code]

my markdown file

[code]

The content gets displayed, only my vue-component doesn't get rendered. I get only this error

[2021-03-23 22:26] hmsk commented on #232
looks some approaches to inject an external component are mixed 👀  The Vue component which is returned by `getMarkdownComponent` didn't get `vHeadingComponent`.

There are 2 solutions to fix that:

1. Inject vHeading in the method like https://github.com/hmsk/frontmatter-markdown-loader-nuxt-sample/blob/master/pages/article.vue
2. Get rid of `<template>` block and unneeded `methods`

[2021-03-23 22:39] hmsk commented on #232
third idea came up:

[code]

then use `<my-component />` on `template`

[2021-03-24 10:16] gregorvoinov commented on #232
Hi, thanks for your help. I tried the first version and it worked ;)

[2021-03-24 10:17] #232 closed

[2021-04-06 20:46] gregorvoinov opened #234 "Using style``` breaks .md file"
Hi,

Is there a way to use ```style``` inside .md file?

[code]

 If I'm inserting ```style``` the file doesn't get rendered.

[2021-04-06 22:14] hmsk commented on #234
it'd be great if you provide reproducible repo 😉 As default, markdown compiler keeps HTML tags as is.

[2021-04-07 05:22] gregorvoinov commented on #234
I will create one at the weekend. The Html works fine.
But using ```mode: [Mode.VUE_COMPONENT]``` has nothing  todo with that?

[2021-04-07 05:50] hmsk commented on #234
cool, the additional info was helpful and could be reproduced on my end too (so don't need to have a repo!).This seems tobe a bug and I'm going to look into it deeply when I get a chance.

[2021-04-07 11:40] gregorvoinov commented on #234
ah awesome ;) currently I have wrapped it into a vue component, so no hurry from my side.

[2021-04-09 06:29] Alex-Sokolov commented on #234
Same bug with me. Component registered correctly

This didn't work, empty page:
[code]

After removing empty lines starts working:
[code]

As workaround use `<br>`
[code]

[2021-07-04 15:57] yuigoto opened #238 "Failed to import `vue-template-compiler` when using a custom Webpack build."
Hi!

I'm building a custom Webpack-based Vue project in here using `vue-loader`, but I'm having issues with this library. I've used it the same way I did with a React project of the same nature:

[code]

But I've had this issue, importing a Markdown file:

[code]

I've also tried using the loader like this, for MD files, to no success:

[code]

I'm currently using Vue @ `3.1.4`, with `@vue/compile

[2021-07-04 19:32] hmsk commented on #238
Thanks for your feedback! It'd be great if you provide a minimum reproducible repository to confirm the exact trouble.
I never tried this plugin with Vue 3 project so might see unintentional behavior with newer compilers.

[2021-07-04 20:08] yuigoto commented on #238
Thanks for answering! I'll build a small repository so you can see the exact point I'm working at!

[2021-07-04 20:29] yuigoto commented on #238
Here's a repository mirroring exactly what I'm working on: https://github.com/yuigoto/vue-webpack-example

I did the same with React and it went fine (html, body, meta, component), but with Vue I get stuck with the component. 🤔

[2021-07-04 22:10] hmsk commented on #238
Great! Thanks for your generous/quick dedications ✨ let me look into later today/tomorrow.

[2021-07-05 16:29] yuigoto commented on #238
Nice! Will keep trying stuff and see if more warnings appear.

For now, I'll stick with the stringified HTML output and keep testing. I was mostly worried because I wondered what did I do wrong. 😅

[2021-07-06 04:20] hmsk commented on #238
Alright, I confirmed `vue-template-compiler` is only for Vue 2 and this plugin doesn't work with Vue 3 project.

The error message you caught was inappropriate, that was suppressing the original error by Vue compiler. So I hastened to release [v3.6.3](https://github.com/hmsk/frontmatter-markdown-loader/releases/tag/v3.6.3) to show up the message.

I'm going to work on supporting Vue in some point

[2021-07-06 04:47] yuigoto commented on #238
All right, thanks! 😉

I totally understand that, will see if Vue 2 works for what I've in mind as of now. Though I'm pretty happy with the rendered body string so far, so it's not that much of an issue. 😅

Will keep an eye on it, and see if I can contribute somehow after I finish some tasks I've got in here! 😄

[2021-08-10 04:07] mazipan opened #242 "Jest Transformer for the Loader"
## Description

We use this Loader for transforming markdown content in our Next.js project ([sample code how we use it](https://github.com/kawalcovid19/wargabantuwarga.com/blob/main/next.config.js#L67)).
But we still confuse to create Jest Transformer so our test can read the real content instead of mocking the data.

## Expectations

Maybe some clues, or any official docs regarding testing in je

[2021-08-17 18:14] mdwheele commented on #238
Hello @yuigoto @hmsk!

We're upgrading our applications to Vue 3 and I stumbled across this issue. For what it's worth, we decided (for now) to change to `Mode.HTML` and use the `defineComponent` API in Vue 3 to achieve wrapping Markdown content in a Vue component as the rest of our application expects. I'd be happy to help work on a patch for `frontmatter-markdown-loader` that's portable between

[2021-08-21 03:13] yuigoto commented on #238
Ooh! Nice! Will try this solution later! Been doing some stuff at work with other frameworks a didn't have the time to properly tinker with Vue lately. 😞

Gotta get into it asap! 😮

[2021-08-30 08:27] renovate[bot] opened #244 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Other Branches

These updates are pending. To force PRs open, click the checkbox below.

 - [ ] Update dependency path-parse to 1.0.7 [SECURITY]

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

[2021-10-09 22:57] ilyabo commented on #61
Another important use case for this is Netlify CMS i18n. I have something like this in my Markdown files:

[code]

The body has to be specified in multiple languages.

[2022-09-23 06:59] bhky123 opened #273 "how to set attributes"
![image](https://user-images.githubusercontent.com/73279078/191907270-a77b52e6-83cf-42fe-9189-f371e3b98276.png)
fm.attributes

[2022-09-23 07:01] #273 closed, assigned to nobody